{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}

{% block links %}
<a href="{% url 'home' %}">Home</a>
<a href="pages/blog.html">Blog</a>
<a href="#">Author</a>
{% endblock %}

    <main>
      <div class="container">
        <div class="page-top">
          <div class="top flex">
            <div class="page-name">
              <a href="https://murmuring-tundra-27912.herokuapp.com/" class="learn">
                <span class="material-icons"> keyboard_return </span> Go back
              </a>
              {% if not info %}
                  <h1>
                      About page
                  </h1>
              {% endif %}
              {% if info %}
                  <h1>
                      {{ info.title }}
                  </h1>
                <h2>
                    {{ info.description }}
                </h2>
              {% endif %}
            </div>
           
          </div>
        </div>
      </div>
    </main>
    <section class="sp">
      <div class="container">
          {% if not info %}
          <h1>
              This page is in maintenance, and our developers are working like monkeys. Please visit later.
          </h1>
          {% endif %}

          {% if info %}
          <p>{{ info.about }}</p>
          {% endif %}
      </div>
    </section>
{% endblock %}
