{% extends 'base.html' %}
{% load static %}
{% block title %} Search {% endblock %}
{% block content %}
{% block links %}
<a href="{% url 'home' %}">Home</a>
<a href="pages/blog.html">Blog</a>
<a href="#">Author</a>
<a href="{% url 'about' %}">About</a>
{% endblock %}
    <main>
      <div class="container">
        <div class="page-top">
          <div class="top flex">
            <div class="page-name">
              <a href="#" class="learn">
                <span class="material-icons"> keyboard_return </span> Go back
              </a>
              <h1>Search</h1>
            </div>
            <div class="search-bar s-active">
              <form method="get">
                <input type="text" placeholder="Search" name="q" value="{{placeholder}}"/>
                  <div class="animated-search">
                        <i class="uil uil-search"><button type="submit"></button></i>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <section class="sp">
      <div class="container">
          {% if fail %}
            <h1>
              Sorry friend, no results. Please check your search.
            </h1>
          {% endif %}
        <div class="grid">

          {% for i in posts %}
          <!-- card -->
          <a href="{% url 'post_page' i.slug %}">
            <div class="card">
              <div class="post-img">
                <img src="{{ i.image.url }}" alt="" />
                <div class="tag">{{ i.tags.all.0.name }}</div>
              </div>
              <div class="card-content">
                <h3>
                  {{ i.title }}
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="{{ i.author.profile.profile_img.url }}" alt="" />
                  </div>
                  <div class="details">
                    <p>{{ i.author }}</p>
                    <small>{{ i.date|date }}</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end-->
          {% endfor %}

        </div>
      </div>
    </section>
{% endblock %}