{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}

{% block links %}
<a href="pages/blog.html">Blog</a>
<a href="#">Author</a>
<a href="{% url 'about' %}">About</a>
{% endblock %}

    <main class="sp">
      <div class="container">
        <center>
          <div class="search-bar">
            <input type="text" placeholder="Search" />
            <a href="{% url 'search' %}">
              <div class="animated-search" onclick="searchbar()">
                  <i class="uil uil-search"></i>
              </div>
            </a>
          </div>
          <div class="typo">
            <h1 class="title">{{ info.title }}</h1>
            <p>
              {{ info.description }}
            </p>
          </div>
          <div class="newsletter">
            <form method="POST">
              {% csrf_token %}
              {{ subscribe_form }}
              <button class="btn btn-primary">Subscribe</button>
            </form>
            {% if message %}
              <p>{{ message }}</p>
            {% endif %}
          </div>
        </center>
      </div>
    </main>
    {% if featured %}
      <section class="sp">
        <div class="container">
          <div class="grid-2">
            <div class="post-img">
              <img src="{{ featured.image.url }}" alt="" />
            </div>
            <div class="post-content">
              <div class="cetagory">
                <p>{{ featured.tags.all.0.name }}</p>
              </div>
              <h1>
                {{ featured.title }}
              </h1>
              <p>
                {{ featured.content|truncatechars:20 }}
              </p>

              <a class="learn" href="{% url 'post_page' featured.slug %}">
                Learn more
                <span class="material-icons"> trending_flat </span>
              </a>
            </div>
          </div>
        </div>
      </section>
    {% endif %}
    <section class="sp">
      <div class="container">
        <h1 class="sec-title">Top blogs</h1>
        <div class="grid-3">
          {% for i in popular %}
          <!-- card -->
          <a href="{% url 'post_page' i.slug %}">
            <div class="card">
              <div class="post-img">
                <img src="{{ i.image.url }}" alt="" />
                <div class="tag">{{ i.tags.all.0.name }}</div>
              </div>
              <div class="card-content">
                <h3>
                  {{ i.title }}
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="{{ i.author.profile.profile_img.url }}" alt="" />
                  </div>
                  <div class="details">
                    <p>{{ i.author }}</p>
                    <small>{{ i.date|date }}</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end-->
          {% endfor %}

        </div>
        <center>
          <a href=""><button class="btn btn-primary rounded view">
            View more <span class="material-icons"> trending_flat </span>
          </button></a>
        </center>
      </div>
    </section>

    <section class="sp">
      <div class="container">
        <h1 class="sec-title">New blogs</h1>
        <div class="grid-3">
          {% for i in recent %}
          <!-- card -->
          <a href="{% url 'post_page' i.slug %}">
            <div class="card">
              <div class="post-img">
                <img src="{{ i.image.url }}" alt="" />
                <div class="tag">{{ i.tags.all.0.name }}</div>
              </div>
              <div class="card-content">
                <h3>
                  {{ i.title }}
                </h3>
                <div class="author">
                  <div class="profile-pic">
                     <img src="{{ i.author.profile.profile_img.url }}" alt="" />
                  </div>
                  <div class="details">
                    <p>{{ i.author }} </p>
                    <small>{{ i.date|date }}</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end-->
          {% endfor %}


        </div>
        <center>
          <a href=""><button class="btn btn-primary rounded view">
            View more <span class="material-icons"> trending_flat </span>
          </button></a>
        </center>
      </div>
    </section>
{% endblock %}

